html, body {
  height: 100%;
  font-family:'Press Start 2P';
  color: #F20505;
  filter:blur(.5px);
}

body {
  display: flex;
  align-items: center;
  justify-content: flex-center;
  flex-direction: column;
  background-color: #400101;
  }

#message, #notes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#message {
  font-size: 1.5rem;
}

#resetButton{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  margin-top:15px;
}

.board {
  display: flex;
  flex-wrap: wrap;
}

.board div {
  color:  #F20505;
  font-size: 2rem;
  width: 75px;
  height: 75px;
  border: 1px #8C0303 solid;
  border-radius: 10%;
  margin: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.board div:hover {
  color:  #F20505;
  background-color:#8C0303;
  
}

div.mine, div.mine:hover {
  background: no-repeat center/100% url("images/spaceBomb.png");
}

div.hidden {
  background: #400101;
}

div.hidden:hover {
  background:#8C0303;
}

div.marked, div.marked:hover {
  background: no-repeat center/60% url("images/spaceMark.png");
  }

div.marked:hover{
  background-color: #8C0303;
  border: 1px #8C0303 solid;
}
